body{
    text-align: left;
}
.password1{
    margin-top: 20px;
}
.submit1{
    background-color:skyblue;
    text-align: left;
    margin-top: 20px;
}
.main1{
    text-align: left;
}
.main3{
    margin-left: 10px;
}